/* .caption {
height: 200px;
width: 200px;
overflow: auto;
}
*/


/*
imgsize {
width: auto;
height: 150px;
}
*/



.thumbnail {
    height: 400px;
}


form.search {
    float: right;
    padding: 10px;
}

form {
    float: right;
    padding: 10px;
}

form.search button {
    cursor: pointer;
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
    height: 100%;
    border-radius: 20%;
}
