/* .caption {
height: 200px;
width: 200px;
overflow: auto;
}
*/


/*
imgsize {
width: auto;
height: 150px;
}
*/


.thumbnail {
    height: 400px;
}


.panel-title {
    font-size: 20px;

}

.sidebarheading {
    font-size: 30px;
    align-content: center;

}

.filter input[type=submit] {
    cursor: pointer;
    background-color: silver;
    border-color: silver;
    color: black;
    height: 100%;
}

.filter input[type=submit]:hover {
    background-color: #337ab7;
    color: white;
}

.filter input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}


